TesteWebService/src/main/webapp/wsdl/testeHellWb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://testewb.com.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://testewb.com.br" xmlns:intf="http://testewb.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://testewb.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="n1" type="xsd:int"/>
   <element name="n2" type="xsd:int"/>
   <element name="subtracaoReturn" type="xsd:int"/>
   <element name="n3" type="xsd:int"/>
   <element name="n4" type="xsd:int"/>
   <element name="divisaoReturn" type="xsd:int"/>
   <element name="n5" type="xsd:int"/>
   <element name="n6" type="xsd:int"/>
   <element name="multiplicacaoReturn" type="xsd:int"/>
   <element name="n7" type="xsd:int"/>
   <element name="n8" type="xsd:int"/>
   <element name="somaReturn" type="xsd:int"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="somaResponse">

      <wsdl:part element="impl:somaReturn" name="somaReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="somaRequest">

      <wsdl:part element="impl:n7" name="n1">

      </wsdl:part>

      <wsdl:part element="impl:n8" name="n2">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subtracaoResponse">

      <wsdl:part element="impl:subtracaoReturn" name="subtracaoReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divisaoRequest">

      <wsdl:part element="impl:n3" name="n1">

      </wsdl:part>

      <wsdl:part element="impl:n4" name="n2">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divisaoResponse">

      <wsdl:part element="impl:divisaoReturn" name="divisaoReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicacaoResponse">

      <wsdl:part element="impl:multiplicacaoReturn" name="multiplicacaoReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subtracaoRequest">

      <wsdl:part element="impl:n1" name="n1">

      </wsdl:part>

      <wsdl:part element="impl:n2" name="n2">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicacaoRequest">

      <wsdl:part element="impl:n5" name="n1">

      </wsdl:part>

      <wsdl:part element="impl:n6" name="n2">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="testeHellWb">

      <wsdl:operation name="subtracao" parameterOrder="n1 n2">

         <wsdl:input message="impl:subtracaoRequest" name="subtracaoRequest">

       </wsdl:input>

         <wsdl:output message="impl:subtracaoResponse" name="subtracaoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="divisao" parameterOrder="n1 n2">

         <wsdl:input message="impl:divisaoRequest" name="divisaoRequest">

       </wsdl:input>

         <wsdl:output message="impl:divisaoResponse" name="divisaoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicacao" parameterOrder="n1 n2">

         <wsdl:input message="impl:multiplicacaoRequest" name="multiplicacaoRequest">

       </wsdl:input>

         <wsdl:output message="impl:multiplicacaoResponse" name="multiplicacaoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="soma" parameterOrder="n1 n2">

         <wsdl:input message="impl:somaRequest" name="somaRequest">

       </wsdl:input>

         <wsdl:output message="impl:somaResponse" name="somaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="testeHellWbSoapBinding" type="impl:testeHellWb">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="subtracao">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subtracaoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subtracaoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="divisao">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="divisaoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="divisaoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicacao">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplicacaoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiplicacaoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="soma">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="somaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="somaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="testeHellWbService">

      <wsdl:port binding="impl:testeHellWbSoapBinding" name="testeHellWb">

         <wsdlsoap:address location="http://localhost:8080/TesteWebService/services/testeHellWb"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
